.LandNav {
  display: flex;
  background-color: transparent;
  background: none;
  position: fixed;
  min-width: 100vw;
  max-width: 100vw;
  top: 0;
  padding: 15px;
  /* margin-top: 15px; */
  /* margin-left: 15px; */
  z-index: 100;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.LandNav__black {
  background-color: black;
  opacity: 0.85;
  width: 100vw;
}

.LandNav__logo img {
  width: 120px;
  margin-left: 20px;
}

.LandNav__logo > p {
  display: none;
}

.LandNav__center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.LandNav__center > p {
  position: relative;
  margin: 10px;
  text-transform: uppercase;
  font-size: 18px;
}

.LandNav__right {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
}

.LandNav__right > p {
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .LandNav {
    flex-direction: column !important;
  }

  .LandNav__logo {
    display: flex;
    justify-content: space-between;
  }

  .LandNav__logo > p {
    display: block;
    margin: 10px;
    text-transform: uppercase;
    font-size: 18px;
  }

  .LandNav__right{
    display: none;
  }
}

/* ////////////////// Feature Start /////////////// */

/* ////////////////// Feature ENSDS /////////////// */
