@keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  .animate_zoomIn {
    animation-name: zoomIn;
    animation-duration: 1s;
    /* animation-fill-mode: none; */
    /* animation-delay: 0.1s; */
  }
  

  