.sidebar {
  /* border: 1px solid black; */
  height: 100vh;
  flex: 0.2;
  min-width: 230px;
}

.sidebar__dark__active {
  background-color: #7a7979;
  border: 1px solid #383838;
  border-radius: 10px;
}

.sidebar__dark__active > div > svg {
  color: white;
}

.sidebar__dark__active > div > h6 {
  color: white;
}

.nav {
  background-color: aqua;
}

.sidebar__logo {
  /* object-fit: contain; */

  height: 35px;
  /* margin-right: auto; */
}

.sidebar__themebtn {
  width: 100%;
  align-items: center;
}

.sidebar__dark {
  background: #040404;
}

.sidebar__light {
  background: #f8f9fa;
}

.navbar__dark {
  color: white;
}
