.btn__separator {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  font-weight: 300;
  line-height: 0.1em;
}

.btn__separator span {
  background: white;
  color: #606060;
  padding: 0 10px;
}

.cards {
    backdrop-filter: blur(2rem);
  /* background-image: linear-gradient(to right bottom, rgba(101, 223, 201,0.7), rgba(108,219,235,0.3)); */
}

.circle1,
.circle2 {
  background: white;
  background-image: linear-gradient(
    to right bottom,
    rgba(101, 223, 201, 0.9),
    rgba(255, 255, 255, 0.1)
  );
  height: 15rem;
  width: 15rem;
  position: absolute;
  border-radius: 50%;

}
/* .circle1 {
  top: 5%;
  right: 10%;
}

.circle2{
    bottom: 5%;
    left: 10%;
} */