.signup__row__left {
  flex: 0.5;
  padding-right: 20px;
  text-align: center;
}

.signup__row__right {
  flex: 0.5;

  border-left: 1px solid lightgray;
  padding-left: 20px;
}

.signup__profileUrl {
  height: 170px;
  width: 170px;
  border: 1px solid black;
  margin: auto;
}

.signup__profileUrl__upload {
  background-color: lightgray;
  border-radius: 15px;
  width: 200px;
  margin: auto;
}

/* Medium devices (landscape tablets, 600px and below) */
@media only screen and (max-width: 600px) {
  .signup__row {
    display: flex;
    flex-direction: column;
  }

  .signup__row__right {
    border: none;
    padding-left: 0px;
    margin-top: 20px;
  }

  .signup__row__left {
    padding-right: 0px;
  }

  .signup__cancelButton {
    min-width: 100%;
  }
  .signup__cancelButton > a {
    min-width: 70%;
  }

}
